@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>Job Experience</h2>
                            <p class="lead">
                                Proficiency in developing microservices-based and monolithic applications, writing clean and maintainable code following SOLID principles, and creating secure and performant RESTful APIs using ASP.NET Core. Experience spans the entire Agile Software Development Life Cycle, from stand-ups and sprint planning to reviews and retrospectives. Strong understanding of optimizing application performance, applying Object-Oriented Principles, and utilizing multithreading and asynchronous programming techniques. Implementation of middleware messaging services such as Rabbit MQ and SignalR. In-depth knowledge of ERP systems, especially Odoo ERP, with a solid grasp of business processes related to production, procurement, inventory, accounts, and sales & distribution. Extensive experience with JIRA for tracking user stories and effort, along with designing business processes and developing solutions for Telegram and WhatsApp BOTs.   
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</section>