@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h2>Get In Touch</h2>
                         </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

<section class="switchable">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <p class="lead">
                                E:
                                <a href="#">taskin0850@gmail.com
                                    </a>
                                <br /> P: +613 4827 2294
                            </p>
                            <p class="lead">
                                Give me a call or drop by anytime
                            </p>
                            
                        </div>
                        <div class="col-md-6 col-12">
                            <form class="form-email row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <div class="col-md-6 col-12">
                                    <label>Your Name:</label>
                                    <input type="text" name="Name" class="validate-required" />
                                </div>
                                <div class="col-md-6 col-12">
                                    <label>Email Address:</label>
                                    <input type="email" name="email" class="validate-required validate-email" />
                                </div>
                                <div class="col-md-12 col-12">
                                    <label>Message:</label>
                                    <textarea rows="4" name="Message" class="validate-required"></textarea>
                                </div>
                                <div class="col-md-5 col-lg-4 col-6">
                                    <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>