@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h3>Education</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h4> Master of Science ,Computer Science & Engineering (Major in Data science)</h4>
                                <p>
                                    Daffodil International University, Bangladesh
                                </p>
                                <p>Year: 2021-2022</p>
                            </div>
                            <div class="text-block">
                                <h4> Bachelor of Science, Computer Science & Engineering</h4>
                                <p>
                                    Shahjalal University of Science & Technology, Bangladesh
                                </p>
                                <p>Year: 2008-2012
                                </p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>