@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h3>Job Experience</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h4>2011 Guild Shiraz &mdash; 16/54</h4>
                                <p>
                                    Margaret River, South Australia
                                </p>
                            </div>
                            <div class="text-block">
                                <h4>2010 Montague Cabernet &mdash; 18/75</h4>
                                <p>
                                    Barossa Valley, South Australia
                                </p>
                            </div>
                            <div class="text-block">
                                <h4>2013 Mayfair Shiraz &mdash; 14/48</h4>
                                <p>
                                    Yarra Valley, Victoria
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-block">
                                <h4>2014 Koringal Grenache Shirz Mourvedre &mdash; 18/79</h4>
                                <p>
                                    Malborough, New Zealand
                                </p>
                            </div>
                            <div class="text-block">
                                <h4>2012 Ladies Who Shoot Their Lunch &mdash; 13/64</h4>
                                <p>
                                    Strathbogie Ranges, Victoria
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>