@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-8 col-lg-7">
                            <h2>About Me</h2>
                            <p class="lead">
                                An accomplished application designer and developer with a robust focus on enhancing enterprise solutions. Proficient in understanding business use cases, translating them into well-defined problem statements, and effectively estimating work items. Expertise in client and stakeholder communication ensures clear project planning and progress reporting.
                            </p>
                            <p class="lead">
                                 Technically skilled in designing, developing, and supporting highly scalable applications and web services using Microsoft technologies, with a particular emphasis on .NET (C#, ASP.Net, ASMX, WCF, XML, JavaScript, HTML). Adheres to quality-driven methodologies, participates in design and requirements engineering, and actively contributes to scrum execution and technical discussions.
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="text-block">
                                <h5>Backend</h5>
                                <p>
                                     C#, ASP.NET MVC, ASP.NET Core, Web Form, Razor, and the .NET Framework, .NET Standard.
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>Frontend</h5>
                                <p>
                                    Material Design, JavaScript, TypeScript, jQuery, jQuery UI, JqGrid, RxJS, Ajax, JSON, HTML, CSS and Bootstrap.
                                   
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>Others</h5>
                                <p>
                                    WCF, Web APIs and RESTful APIs, Entity Framework, Entity Framework Core, AutoMapper, Unit of Work., Swagger, Postman, and Fiddler for API endpoint documentation, testing, and debugging, thread, delegate, async, await, and task in advanced parallel programming.

                                   
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>