@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Projects</h2>
                            <div class="slider" data-arrows="false" data-paging="true">
                                <ul class="slides">
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="image/1.jpg" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Telecommunication Process Automation</h5>
                                                <p>40+ processes, live notifications, and bots for revenue management, workflow, and communication.
                                                </p>                                               
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="image/3.png" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Warehouse Management</h5>
                                                <p>product categorization, tracking, inventory management, and mobile sales apps using React Native.
                                                </p>
                                                
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="image/4.jpg" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>Mobile Number Portability</h5>
                                                <p>Mobile number portability allows users to keep their number when switching mobile carriers.
                                                </p>
                                                
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <div class="feature feature-1">
                                            <img alt="Image" src="image/5.png" />
                                            <div class="feature__body boxed boxed--border">
                                                <h5>My banglalink Mobile App</h5>
                                                <p>Processes 1 million daily requests through 200+ APIs for recharges, updates, support, and balance management.
                                                </p>
                                                
                                            </div>
                                        </div>
                                        <!--end feature-->
                                    </li>
                                </ul>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>